.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, rgb(0, 127, 255), rgb(0, 59, 255));
  padding: 0 5rem;
  min-height: 10vh;
}
.Logo {
  font-size: 3rem;
  color: #fff;
  font-weight: 400;
}
